<h1>記事一覧</h1>
<%= image_tag "image1.jpg", width: 480 %>
<%= link_to "新規作成", new_article_path %>
<% @articles.each do |article| %>
 <h2><%= link_to article.title, article_path(article) %></h2>
 <p><%= article.text %></p>

<%= link_to "編集する", edit_article_path(article) %>
<%= link_to "削除する", article_path(article), method: :delete, "data-confirm" => "本当によろしいですか？" %>
<% end %>
<%= link_to "トップに戻る", welcomes_index_path %>